.mtr .css-80pr5n-MuiPaper-root{
    box-shadow: none !important;
}

.mtr td{
    border-bottom:1px solid #e0e4e9 ;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Montserrat';
    color:#0f172a;
    font-size: 1rem;
}

.mtr th{
    border-bottom:1px solid #e0e4e9 ;
    font-family:'Montserrat';
    font-size:14px;
}


.mtr .css-1iisq5m {
    color:#475569;
    margin-top:1px;
    font-size:16px; 
}